# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.atom/
.build/
.buildlog/
.svn/
.swiftpm/
migrate_working_dir/

# IDE
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Generated
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/android/key.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Firebase
google-services.json
GoogleService-Info.plist

# Crashlytics / Symbols
app.*.symbols
app.*.map.json